@use "global" as *;
.voice-block {
  position: relative;
}
.voice-block::before {
  content: "";
  position: absolute;
  display: block;
  width: rem(120);
  height: rem(55);
  left: rem(16);
  top: rem(28);
  background-image: url(../images/common/voice-fish.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -1;
  @include mq("md") {
    width: rem(301);
    height: rem(138);
    left: rem(100);
    top: rem(80);
  }
}
.voice-block__categories {
  display: grid;
  grid-template-columns: repeat(2, rem(162));
  gap: rem(21);
  justify-content: center;
  @include mq("md") {
    grid-template-columns: repeat(4, rem(162));
    gap: rem(32);
    justify-content: initial;
  }
}
.voice-block__category {
  text-align: center;
}
.voice-block__category a {
  width: 100%;
  max-width: rem(162);
  display: inline-block;
  font-family: $base-font-family;
  color: $color-blue;
  font-size: rem(14);
  font-weight: $regular;
  line-height: 1.57;
  padding: rem(6) rem(20);
  border: 1px solid $color-blue;
  background-color: $color-white;
  @include mq("md") {
    max-width: rem(162);
    font-size: rem(14);
    padding: rem(6) min(rem(24), 2vw);
  }
}
.voice-block__category a.is-active {
  color: $color-white;
  background-color: $color-blue;
}
.voice-block__lists {
  margin-top: rem(40);
  gap: rem(40);
  display: grid;
  @include mq("md") {
    margin-top: rem(40);
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(40);
    row-gap: rem(80);
  }
}
.voice-block__list {
  display: none;
  background: $color-white;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin-inline: auto;
}
.voice-block__list.is-active{
	display: block;
}